@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    border: 10px solid #00909e;
    background-color: #dae1e7;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: 5em;
    color: #142850;
}

button {
    padding: 10px 20px;
    outline: none;
    background: none;
    border: 1px solid rgba($color: #000000, $alpha: .3);
    border-radius: 3px;
    font-family: inherit;
}

form {
    width: 60%;
    .row {
        label {
            text-transform: capitalize;
            color: #27496d;
            display: block;
            margin-bottom: 8px;
        }
        input {
            width: 100%;
            padding: 10px;
            outline: none;
            background: #f4f6ffb6;
            font-family: inherit;
            border: 1px solid rgba(0, 0, 0, .2);
            border-radius: 5px;
        }
    }
    div:not(:last-child) {
        margin-bottom: 2em;
    }
}